.home-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 0 200px;
}

.posts {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.posts .post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.posts .post:nth-child(2n + 1) {
    flex-direction: row-reverse;
    gap: 30px;
}

.posts .post .img {
    width: 300px;
    height: 300px;
}

.posts .post .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts .post .content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.posts .post .content .link {
    text-decoration: none;
    color: #292929;
}

.posts .post .content h1 {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 20px;
}

.posts .post .content button {
    width: max-content;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid teal;
    color: teal;
    margin-top: 20px;
}
.posts .post .content button:hover {
    background-color: var(--lightGreen);
    color: #292929;
    transition: all 300ms ease;
}

.home-main .empty-state {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.home-main .empty-state p {
    white-space: nowrap;
    font-size: 4vw;
    font-weight: bold;
    color: #8d99ae;
}

@media only screen and (max-width: 1300px) {
    .home-main {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 900px) {
    .posts .post {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .posts .post:nth-child(2n + 1) {
        flex-direction: column;
        gap: 50px;
    }

    .posts .post .img {
        width: 100%;
    }

    .posts .post .content {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .posts {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .home-main {
        padding: 0 50px;
    }
}
