.write-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 200px;
    gap: 20px;
    margin: 10px 0;
}

.write-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}

.write-content .container1 {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.write-content .imgUploadBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.write-content .imgUploadBtn label {
    background-color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #24242450;
    cursor: pointer;
    margin-right: 10px;
}

.container1 .img-name {
    font-size: 14px;
    margin-right: 10px;
}

.container1 .XIcon {
    background-color: #f2f2f2;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.container1 .XIcon:hover {
    background-color: #e6e6e6;
    transition: all 300ms ease;
}

.write-content .input-title {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #24242450;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 1px;
}

.write-content .input-title::placeholder {
    letter-spacing: 2px;
    font-size: 14px;
}

.editorContainer {
    flex: 1;
    overflow: scroll;
    border-top: 1px solid lightgray;
}

.editorContainer .editor {
    height: 100%;
    border: none;
}

.write-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.write-menu button {
    height: 50px;
    padding: 0 30px;
    border-radius: 8px;
    outline: none;
    color: #242424;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border: 1px solid #24242450;
}

.write-menu button:hover {
    transition: all 300ms ease;
    background-color: #f2f2f2;
}

@media only screen and (max-width: 1200px) {
    .write-main {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 800px) {
    .write-main {
        flex-direction: column;
    }
    .write-menu {
        flex-direction: row;
    }
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 650px) {
}
